# CMake build artifacts
build/
_deps/
lib/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Doxygen generated documentation
docs/html/
docs/latex/

# Android NDK build artifacts
Android/obj/
Android/libs/
